---
import "../styles/global.css";
import Aside from "../components/Aside.astro";
import Search from "../components/Search.astro";

interface Props {
	showAside?: boolean;
}

const { showAside = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>I Found You</title>
	</head>
	{showAside && <Aside />}
	<body>
		{showAside && <Search />}
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background: white;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
